/* about page styles */

.about_one {
    grid-area: one;
}

.about_two {
    grid-area: two;
}

.about_three {
    grid-area: three;
}

.about_four {
    grid-area: four;
}

img {
    border-radius: 50%;
}

body {
    font-size: 1em;
    height: 900pt;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "one"
    "two"
    "three"
    "four";
    width: 300pt;
    align-items: center;
    background-color: gray;
    /* justify-content: space-around; */

}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

article {
    /* border: 2pt solid; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin-bottom: 0;
    /* border: 2pt solid; */
    width: 200pt;
    color: white;
    background-image: url(black_two.jpg);
}

@media (min-width: 576px) {
    body {
        /* margin-left: 325pt; */
        background-image: url(white.jpg);
        margin-left: 30pt;
        margin-right: 30pt;
        width: auto;
        display: grid;
        align-items: center;
        justify-content: stretch;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "header header"
        "one ."
        ". two"
        "three ."
        ". four";
    }
    
    header {
        grid-row: 1/2;
        border-bottom: 5pt double;
    }

    h1 {
        width: 300pt;
        border-radius: 15%;
        height: 25pt;
    }

    .about_one {
        grid-row: 2/3;
    }

    .about_two {
        grid-row: 2/3;
    }

    .about_three {
        grid-row: 3/4;
    }

    .about_four {
        grid-row: 3/4;
    }

    article {
        /* width: 450pt; */
        width: auto;
        border-left: 4pt double;
        border-right: 3pt double;
        /* border-radius: 25%; */
    }

    p {
        padding-left: 20pt;
        padding-right: 20pt;
    }
}