/* Resume styles */

body {
    width: 750pt;
    height: 850pt;
    align-items: center;
    margin-left: 100pt;
    /* border: 1pt solid; */
}

header {
    height: 150pt;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C5D3EE;
}

header > h1 {
    background-color: white;
    font-size: 1em;
    height: 60%;
    width: 60%;
    text-align: center;
    font-size: 2.5em;
    font-style: italic;
    padding-top: 20pt;
    line-height: 30pt;
}

span {
    font-size: 20pt;
    padding-bottom: 30pt;
}

main {
    height: 750pt;
    width: 750pt;
    display: grid;
    grid-template-columns: 33% 16.5% 16.5% 34%;
    grid-template-rows: 33% 33% 11% 23%;
}

.profile {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    padding-left: 20pt;
}

.profile_title {
    border-bottom: 1px solid #C5D3EE;
    text-align: center;
    padding-bottom: 10pt;
}

.education {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 10pt;
}

.education > p{
    margin-top: 0;
    margin-left: 18px;
}

.education > h4 {
    margin-bottom: 2px;
    margin-left: 18px;
}

.education_title {
    /* border: 1px solid; */
    text-align: center;
    height: 25pt;
    margin: 10px;
    padding-top: 10px;
    background-color: #C5D3EE;
    margin-left: 20pt;
}

.experience {
    grid-column: 2/4;
    grid-row: 3/4;
    text-align: center;
}

.exp_line_one {
    grid-column: 1/2;
    grid-row: 3/4;
    border-top: 1pt solid;
    margin-top: 23pt;
}

.exp_line_two {
    grid-column: 4/5;
    grid-row: 3/4;
    border-top: 1pt solid;
    margin-top: 23pt;
}

.experience > h3 {
    /* border: 1px solid; */
    text-align: center;
    height: 25pt;
    margin-top: 10px;
    padding-top: 10px;
    background-color: #C5D3EE;
}

.job_one {
    grid-column: 1/3;
    grid-row: 4/5;
}

.job_one > h4 {
    text-align: center;
    margin-left: 10pt;
}

.picture {
    grid-column: 2/4;
    grid-row: 1/2;
    /* display: flex; */
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    align-items: flex-end;
}

img {
    border-radius: 75%;
    height: 200px;
    width: 200px;
    margin-left: 50pt;
}

.skills {
    grid-column: 2/4;
    grid-row: 2/3;
}

.skills > p {
    /* border: 1px solid; */
    text-align: center;
    height: 70%;
    margin-right: 40pt;
    margin-left: 40pt;
    margin-top: 10px;
    background-color: #C5D3EE;
    line-height: 20pt;
}

.skill_title {
    text-align: center;
    grid-row: 2/3;
    margin-bottom: 0;
}

.contact {
    grid-column: 4/5;
    grid-row: 1/2;
    padding-right: 20pt;
}

.reach_me {
    border-bottom: 2px solid #C5D3EE;
    text-align: center;
    padding-bottom: 10pt;
}

.expertise {
    grid-column: 4/5;
    grid-row: 2/3;
    padding-right: 10pt;
    font-weight: bold;
}

.expertise > p {
    margin-top: 0;
    line-height: 20pt;
}

.expertise > h4 {
    margin-bottom: 2px;
    margin-top: 0;
}

.expertise_title {
    /* border: 1px solid; */
    text-align: center;
    height: 25pt;
    margin: 10px;
    margin-right: 20pt;
    padding-top: 10px;
    background-color: #C5D3EE;
}

.expertise > p {
    text-align: center;
}

.job_two {
    grid-column: 3/5;
    grid-row: 4/5;
}

.job_two > h4 {
    text-align: left;
    margin-left: 20pt;
}