body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url(https://cdn.pixabay.com/photo/2014/09/26/17/32/palo-duro-462631_960_720.jpg); */
    background-image: url(https://image.freepik.com/free-photo/paint-drops-black-background_23-2147798308.jpg);

    background-repeat: no-repeat;
    background-size: 1600px 1000px;
    /* width: 100vw; */
    /* height: 100vh;  */
    width: 100%;
    height: 100%;
  }
 
  .logo {
    width: 150px;
    height: 100px;
    margin: 3% 10%;
    /* margin: auto auto auto auto; */
  }

  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }

  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%; 
  }
 
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    border-radius: 25px;
    background: transparent;
    padding: 25px;
    text-align: center;
    border: 2px solid white;
  } 

  .has-border {
    border-radius: 15px;
    border: 2px solid  rgb(92, 100, 122);
    background: none;
    padding: 15px;
    background-color: rgb(27, 77, 94);
  }

  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
    padding-bottom: 10%;
  }

/* this is an id selector */
  #profile-pic {
    width: 300px
    height: 300px;
    border-radius: 50%;
    margin: auto auto;
    grid-column: 2/3; 
  }

  h1 {
    color:white;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid rgb(92, 100, 122);
  }

  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    /* margin: auto auto; */
    font-style: italic;
    color: white;
  }

  .small-text {
    grid-column: 2/3;
    color: black;
    font-size: 10px;
    margin: 3% auto;
  }

  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 40%;
    height: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 15px;
    background-color: rgb(27, 77, 94);
    padding: 15px;
    padding-bottom: 6%;
    text-align: center;
    color: white;
    letter-spacing: 5px;
    font-style: italic;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  button:hover {
    background-color: rgb(16, 65, 82);
    color: rgb(27, 26, 26);
  }

  /* .button:active {
    background-color: rgb(183, 215, 226);
    box-shadow: 0 5px rgb(53, 52, 52);
    transform: translateY(4px);
  } */